---
import Image from "astro/components/Image.astro";
import type { ImageMetadata } from "astro";
import Button from "../ui/button.astro";
import clsx from "clsx";
import { Icon } from "astro-icon/components";

interface Props {
  reversed?: boolean;
  name: string;
  description: string;
  myRole: string;
  technologies: { icon: string; name: string; url: string }[];
  image: ImageMetadata;
  color: string;
  referance: {
    name: string;
    url: string;
  };
  websiteLink?: string;
  pageSpeedLink?: string;
}

const {
  name,
  description,
  myRole,
  technologies,
  image,
  color,
  referance,
  reversed,
  pageSpeedLink,
  websiteLink,
} = Astro.props;
---

<div class="grid lg:grid-cols-2 lg:gap-12">
  <a
    href={websiteLink}
    target="_blank"
    style=`background-color: ${color}`
    class={clsx(
      "rounded-3xl max-sm:rounded-xl h-full overflow-hidden max-w-2xl",
      {
        "lg:order-2": reversed,
      }
    )}
  >
    <Image
      src={image}
      alt={name}
      class="rounded-3xl max-sm:rounded-xl w-full h-full object-cover object-left-top relative sm:top-10 sm:left-10 top-6 left-6"
    />
  </a>

  <div
    class={clsx("max-lg:pt-6 space-y-6 text-start", {
      "lg:order-1": reversed,
    })}
  >
    <!-- Project Info -->
    <div class="space-y-3">
      <h3 class="text-2xl font-bold dark:text-white text-black">{name}</h3>
      <p class="dark:text-zinc-400 text-zinc-500 text-lg">{description}</p>
    </div>

    <!-- My role in this project -->
    <div class="space-y-3">
      <h3 class="text-lg font-semibold dark:text-white text-black">
        My Role in This Project
      </h3>
      <p class="dark:text-zinc-400 text-zinc-500 text-lg">{myRole}</p>
    </div>

    <div class="flex items-center justify-between gap-6">
      <!-- Technologies used in this project -->
      <div class="flex gap-2 items-center">
        {
          technologies.map((tech) => (
            <Button size="largeIcon" variant="secondary" href={tech.url}>
              <Icon name={tech.icon} class="size-6 " />
            </Button>
          ))
        }
      </div>

      <!-- Referance -->
      <div>
        <span class="dark:text-zinc-400 text-zinc-500 mr-1">Ref:</span>
        <a
          class="text-blue-500 font-medium underline hover:text-blue-600 duration-200"
          href={referance.url}>{referance.name}</a
        >
      </div>
    </div>
    {
      pageSpeedLink && (
        <Button href={pageSpeedLink} variant="outline">
          <Icon name="page-speed" class="size-5 rounded-md" />
          Check Page Speed
          <Icon name="arrow-up-right" />
        </Button>
      )
    }
  </div>
</div>
