---
import Image from "astro/components/Image.astro";
import DotsLight from "../../assets/images/white-dots.svg";
import DotsDark from "../../assets/images/black-dots.svg";
import clsx from "clsx";
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  icon: any;
  since: string;
  className?: string;
}

const { name, icon, since, className } = Astro.props;
---

<div
  class={clsx(
    "p-6 rounded-3xl tech-item dark:hover:!border-zinc-600 hover:border-zinc-300 hover:shadow-md duration-200 max-sm:rounded-xl dark:bg-zinc-950 bg-[#F5F7FA] dark:border-zinc-800 border-[#E6E9F0] border w-full group relative overflow-hidden cursor-pointer",
    className
  )}
>
  <div
    class="flex relative max-sm:flex-col z-20 items-center justify-between sm:gap-6 font-semibold text-sm text-black"
  >
    <span class="text-lg dark:text-white">{name}</span>
    <span class="dark:text-zinc-200 text-zinc-700">Since {since}</span>
  </div>

  <Icon
    class="sm:h-28 dark:text-white text-black h-16 w-auto mx-auto mt-6 sm:mt-12 sm:mb-6 z-20 relative"
    name={icon}
  />

  <div
    class="duration-200 ease-in absolute top-0 right-0 dark:from-zinc-950 dark:via-zinc-950 dark:to-zinc-900 rounded-tr-xl sm:rounded-tr-3xl h-full w-1/2 bg-gradient-to-tr via-[#F5F7FA] from-[#F5F7FA] to-zinc-200"
  >
    <Image src={DotsLight} alt="light-dots" class="left-0 w-full dark:hidden" />
    <Image
      src={DotsDark}
      alt="black-dots"
      class="left-0 w-full hidden dark:block"
    />
  </div>
</div>
